@import url("fonts.googleapis.com/earlyaccess/notonaskharabic.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --firstColor: #fefecc;
  --secondColor: #02475e;
  --thirdColor: #f3bda1;
  --forthColor: #687980;
  --sixthColor: #bb0466;
  --seventhColor: #68798054;
  
}
body {
  color: var(--forthColor);
  font-family: "notonaskharabic";
  background-color: white;
  position: relative;
  
}
.pointer {
  cursor: pointer;
}


/* navbar */


#navbar {
  background-color: var(--secondColor);
  height: 60px;
  display: flex;
  justify-content: center;
}
.center {
  width: 100%;
  max-width: 1250px;
  height: 100%;
}
#navbarCenter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menuIcon {
  font: 1.5rem sans-serif;
  color: var(--seventhColor);
}
.menuIcon :hover {
  color: var(--forthColor);
  cursor: pointer;
}
#cart {
  position: relative;
}
.cartNumber {
  position: absolute;
  background-color: var(--thirdColor);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  font-size: small;
  color: white;
}
.cartNumber:hover {
  color: white;
}


/* main part */


#main {
  /* margin-bottom: 40px; */
}
.mainCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title {
  margin: 0 auto;
  /* text-align: center; */
  grid-column: 2/4;
  /* grid-row:1; */
  color: var(--secondColor);
  display: inline;
}
.items {
  margin: 1rem ;
  background-color: var(--seventhColor);
  border-radius: 12px;
  color: var(--secondColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items:hover {
  scale: 1.01;
}
.imageItem {
  min-height: 120px;
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.itemCenter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  
  
  grid-gap: 1rem;

}
.itemInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.itemTitle {
  margin: 0.5rem;
  padding: 0.2rem;
}
.itemPrice {
  padding-bottom: 1rem;
}
.moreInfo {
  width: 100%;
  border: none;
  border-radius: 0 0 12px 12px;
  padding: 15px 0;
  font-weight: bold;
  color: white;
  background-color: var(--seventhColor);
}
.moreInfo:hover {
  color: var(--secondColor);
}

/* footer */

#footer {
  width: 100%;
  background-color: var(--secondColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
}
#footer a {
  text-decoration: none;
  color: var(--thirdColor);
}
#footerPartA {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footerPartB {
  display: flex;
  flex-direction: column;
}
.footerHolder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footerPart {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 1rem;
}
.footerTitle {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--firstColor);
  align-self: center;
}
#footerIconHolder {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  width: 100%;
}
#footerInputHolder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
#footerInput {
  width: 70%;
  border: none;
  background-color: var(--firstColor);
  color: var(--forthColor);
  padding: 1rem 0.5rem;
}
#footerButton {
  width: 30%;
  border: none;
  border-radius: none;
  background-color: var(--thirdColor);
  color: var(--secondColor);
  padding: 1rem 0.5rem;
  font-weight: bold;
}
.footerSign {
  width: 4rem;
  height: 4rem;
  margin-left: 1.5rem;
  border-radius: 50%;
  align-self: center;
  filter: opacity(0.5);
  object-fit: fill;
}
#linksHolder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-height: 100px;
}
.footerSignHolder {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
}
.footerText {
  text-align: justify;
  width: 80%;
}
.copyRight {
  text-align: center;
}
#holderContentA {
  padding-top: 1rem;
}
.footerText-small {
  display: none;
}





/* Responsive */

@media screen and (max-width: 891px) {
  .footerHolder {
    grid-template-columns: 1fr;
  }
  .footerPart {
    padding: 1.5rem;
  }
  #footerPartA {
    order: 3;
  }
  #footerPartB {
    order: 1;
  }
}
/* modalmenu */
#modalMenu{
    /* background-color: var(--firstColor); */
     width:100%;
    height: 100%;
    display: none;
    grid-column: 1;
    grid-row: 1/10;
    /* grid-auto-flow: dense; */
    /* align-items: flex-start; */
    /* grid-row:repeat(auto-fit, minmax(1fr, 2fr) ); */
/* 
    margin-top: -38px;
    margin-bottom: 40px; */
}
#modalMainHolder{
 /* display: grid; */
  grid-template-columns: 20% 80%;
  grid-column-gap: 0.5rem; 
  /* display: flex; */
  
}

#menuHolder{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.menuItem{
padding: 1rem;
/* border-bottom: 1px solid var(--thirdColor); */
width: 90%;
margin: 0 auto;
background-color: var(--seventhColor);
color: var(--forthColor);
display: flex;
justify-content:flex-end;
font-size: larger;
  font-weight: bold;
}



.menuItem:hover{

  /* scale: 1.5; */
  margin-left: 2rem;
  color: var(--secondColor);
  transition:ease-in;
  
}
/* .menuItem:active{

} */

#endMenuItems{
  width: 100%;
  justify-self: flex-end;
}